@import "../../styles/mixins.scss";


.welcome-main{
    padding: 90px 0 0;
    @include respond(phone){
        padding: 60px 0 0;

    }
}
.welcome {
    // width: 100%;
    @include backgroundImage("../../assets/welcome-back.png", 90vh, 100%); // Custom height for .welcome
    height:90vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    
    @include respond(phone){
        margin-bottom: 30px;
        overflow:visible;
      }
      
    .hand-line {
        position: absolute;
        width: 30%;
        left: -5%;
        top: -5%;
        z-index: 10;
        transform: translate(-25%,25%);
        img{
            top:0%;
            width: 100%;
        }
    }

    .fade-text {
        transition: opacity 0.5s ease-in-out; /* Smooth transition */
        
    }
      
    .fade-in {
        opacity: 1;
    }
      
    .fade-out {
        opacity: 0;
    }
      
    &_left_img {
        width: 70%;
        position: absolute;
        left: -43%; 
        top: -10%;
        z-index: 10;
        @include respond(phone){
            top:15%;
            // transform: translateY(120px);
            // overflow-anchor: hidden;
        }

        img{
            width: 100%;
        }
    }
    
    &_right_img {
        position: absolute;
        right: 0%; // Mirrored positioning for larger screens
        z-index: 10;
        width: 40%;
        img{
            width: 100%;
        }
    }
   
    &_center_text {
        h2 {
            letter-spacing: -3px;
            font-family: "Golos Text", sans-serif;
            font-weight: 500;
            color: #FFFFFF;
            font-size: 96px;
            max-width: 800px;
            text-align: center;
            line-height: 1;
        }
        
        span {
            display: inline-block;
            width: 300px;
            text-align: left;
            color: #3AFC87;
            text-shadow: 0px 0px 10px #3AFC87;
            
        }
    }

    
}

.mobile-text {
    display: none;

    h2 {
        letter-spacing: -2px;
        font-family: "Golos Text", sans-serif;
        font-weight: 600;
        // color: #FFFFFF;
        font-size: 32px;
        max-width: 300px;
        text-align: center;
        line-height: 1;
    }
    
    span {
        display: inline-block;
        width: 90px;
        color: #3AFC87;
        text-shadow: 0px 0px 10px #3AFC87;
    }
}

@include respond(tab-port){

    .welcome {
        height:50vh;
        .hand-line{
            width: 100%;
            left: -60%;
            top: 10%;
            height: 50%;
        }

        &_left_img {
            width: 100%;
            left: -85%;
            img{   
                transform: scale(1.6);   
            }
        }
        &_right_img {
            width: 90%;
            right: 10%;
            img{
                transform:  rotate(7deg);
            }
        }
    }

        .mobile-text{
            margin-block:  30px;
            display: flex;
            justify-content: center;
            @include respond(phone){
                margin-top: 30px;
            }
        }
        .welcome_center_text {
            display: none;
        }
}