@import "../../styles/mixins.scss";
.identification{
  overflow: hidden;

    &__container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        text-align: center;
        @include respond(phone){
          justify-content: flex-start;
          gap:24px;
        }


        h3{
            font-size: 18px;
            font-weight: 600;
            color: #1ED768;
            letter-spacing: 0px;
            @include respond(phone){
              font-size: 14px;
            }
        }
        h1{
            font-size: 64px;
            font-weight: 600;
            letter-spacing: -2x;
            @include respond(phone){
              font-size: 24px;
              letter-spacing: -1px;
              margin-top: 14px;
            }
        }

    }
.controls{
  display: none;
  gap:10px;
  @include respond(phone){
    display: flex;
  }
  span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius:13px ;
    background-color: #007AFF;
    color: #fff;
    padding: 13px;
  }
}
.comparison-container {
    display: flex;
    justify-content:  flex-start;
    margin: 20px;
    
   @include respond(phone){
    justify-content:space-around;
   }
  }
  
  .column {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include respond(phone){
      width: 80vw;
    }
  }
  @include respond(phone){
    
    .props{
      display: none;
    }
  }  
  .options {
    display: flex;
    flex-direction: row;
    gap:10px;
  }
  .column h2 {
    text-align: center;
    height: auto;
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
    // letter-spacing: -2px;
    font-weight: 500;
    letter-spacing: -1px;
    height: 32px;
  }
  .type_title{
    display: flex;
    height: auto;
    justify-content: space-between;
    background: #F5F5F7;
    padding: 20px;
    border-radius: 20px;

    @include respond(phone){
      background-color: #fff;
    }
    
    span {
      font-size: 32px; 
      height: 32px;             /* Make icon fill the container */
      // object-fit: contain;        /* Maintain aspect ratio */
  }
  }
  ul {
    margin: 0 20px;
    list-style-type: none;
    padding: 0;

    @include respond(phone){
      margin: 20px 0;
    }
  }
  
  ul li {
    font-size: 16px;
    font-weight: 400;
    height: 60px;;
    font-size: 1rem;
    border-bottom: 1px solid #E7E9EA;
    display: flex;              /* Use flexbox */
    align-items: center;   
    text-align: left; 
    
    @include respond(phone){
      
      align-items: start;
      margin-bottom: 20px;
      gap: 10px;
      border-bottom: 0;
      .icon{
        flex: 0 0 44px;
        height: 44px;
        background-color: #fff;
        border-radius: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
        color: #889097;
      }
      .type_description{
        display: flex;
        flex-direction: column;
        font-size: 14px;

        .value-inline {
          display: inline-flex; // Keeps elements inline and aligned
          gap: 4px;             // Space between the parts, if needed
        }
        
        & span:first-child{
          color: #889097;
        }
        .red{
          font-size: 16px;
        }
      }
    }
  }
  ul li:last-child {
    border-bottom: 0 solid #E7E9EA;
    margin-bottom: 0;
  }
  .red{
    color: #F63636;
  }
  
  .type_block {
    background-color: #FBFBFD;
    
    padding: 10px;
    border-radius: 10px;
    min-width: 100%; // Each block takes full width
    box-sizing: border-box; 

    @include respond(phone){
      background-color: #F5F5F7;
      // display: flex; 
      transition: transform 0.3s ease-in-out;
    }
  }
 
  
  .alaqan-green{
    color: white;
    background: #1ED768;
  }

  .mobile{
    display: none;
    @include respond(phone){
      display: block;
    }
  }

}
