@import "../../styles/mixins.scss";

.application {

  &_inner{
  
    @include backgroundImage("../../assets/application-back.png", 725px,100%);
    height: 725px; 
    display: flex;
    align-items: center; 
    border-radius: 30px;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-top: 100px;


    @include respond(phone){
      padding-top:  30px;
      height: auto;
      aspect-ratio: 1 / 0.9; 
    }
  }
    &_left{
        position: absolute;
        left: 5%;
        top:40%;
        animation: bouncingLeft 3s linear infinite;

        @include respond(phone){
          animation: bouncingLeft 3s infinite;
          width: 50%;
          top:60%;
        }
    }
    @keyframes bouncingLeft {
        0% {
          transform: translateY(30%);
        }
        50% {
          transform: translateY(-30%);
        }
        100% {
            transform: translateY(30%);
          }
    }
    &_right{
        position: absolute;
        right: 5%;
        top:60%;
        z-index: 10;
        animation: bouncingRight 4s linear infinite ;

        @include respond(phone){
          animation: bouncingRight 2s linear infinite ;
          width: 50%;
          top:40%;
          z-index: 20;
        }
    }
    @keyframes bouncingRight {
        0% {
          transform: translateY(20%);
        }
        50% {
          transform: translateY(-20%);
        }
        100% {
            transform: translateY(20%);
          }
    }
    .phone-emulator{
      transform: translateY(-10px);
      @include respond(phone){
        width: 80%;
        z-index: 5;   
        transform: translateY(-10%);     
      }
    }
    &_text{
      display: flex;
      align-items: center; 
      justify-content: space-between;
      flex-direction: column;
      width: 80%;
      gap:30px;
      text-align: center;
      @include respond(phone){
        gap:0;
      }
      
      h2{
        font-size: 64px;
        font-weight: 600;
        color:white;
        letter-spacing: -2px;

        @include respond(phone){
          font-size: 24px;
          letter-spacing: -1px;
          line-height: 1;
          margin: 14px 0 20px 0;
        }
    }
    h4{
        font-size: 18px;
        color: #3AFC87;
        font-weight: 500;
        @include respond(phone){
          font-size: 12px;
          line-height: 1;
        }

    }
    p{
        color:white;
        margin-bottom: 100px;
        @include respond(phone){
          font-size: 14px;
          font-weight: 400;
        }
    }
    }
    
}