@import "../../styles/mixins.scss";


.welcome {
    @include backgroundImage("../../assets/welcome-back.png", 700px,100%); // Custom height for .welcome
    height: 700px;
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow: hidden;
    position: relative;
    .hand-line{
        position: absolute;
        left: -10%;
        top:10%;
        z-index: 10;
    }
    .fade-text {
        transition: opacity 0.5s ease-in-out; /* Smooth transition */
      }
      
      .fade-in {
        opacity: 1;
      }
      
      .fade-out {
        opacity: 0;
      }
      
    &_left_img{
        position: absolute;
        left: -40%;
        z-index: 10;
        
    }
    
    
    &_right_img{
        position: absolute;
        right: 0;
        
    }
   
    &_center_text{

        h2{
            letter-spacing: -3px;
            font-family: "Golos Text", sans-serif;
            font-weight: 500;
            color: #FFFFFF;
            font-size: 96px;
            max-width: 1050px;
            text-align: center;
            align-items: center;
            line-height: 1;
        }
        
        span{
            color: #3AFC87;
            text-shadow: 0px 0px 10px #3AFC87;
        }
    }
   
    
}
