@import "../../styles/mixins.scss";


.welcome {
    @include backgroundImage("../../assets/back-photo.svg", 700px); // Custom height for .welcome
    height: 700px;
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow: hidden;
    position: relative;


    &_left_img{
        position: absolute;
        left: -40%;
        // transform: rotateX(-45deg);
        z-index: 10;
        
    }
    
    
    &_right_img{
        position: absolute;
        right: 0;
        
    }
   
    &_center_text{

        h2{
            letter-spacing: -3px;
            font-family: "Golos Text", sans-serif;
            font-weight: 500;
            color: #FFFFFF;
            font-size: 96px;
            max-width: 1050px;
            text-align: center;
            align-items: center;
            line-height: 1;
        }
        
        
        span{
            color: #3AFC87;
            text-shadow: 0px 0px 20px #3AFC87;
               
        }
    }
   
    
}
