@import "../../styles/mixins.scss";

.onboarding {
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-block: 100px;
    max-width: 80%; // Ограничиваем ширину контейнера
    margin-inline: auto; // Центрируем контейнер

    h2 {
      font-size: 48px; // Заголовок
      margin-bottom: 20px;
      font-weight: 600;
    }

    .steps-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: relative;
      max-width: 1000px; 
      margin: 0 auto; 
      margin-top: 60px;// Центрируем контейнер и добавляем отступ сверху
      flex-direction: column;
      gap: 60px;

      
      .steps-track {
        display: flex;
        transition: transform 0.5s ease; // Плавный переход при смене слайдов
        gap: 50px;
        padding-left: 130%; // Сдвигаем контейнер шагов
      }

      .step-details {
        width: 50%;
        p {
          height: 50px;
          margin: 0; // Убираем отступы для p
        }
      }
      .step-num {
        position: relative;
        margin-bottom: 40px;
        
      }
      .step.num-active{
        background: #007AFF;
        color: #fff;
      }
      
      .line {
          position: absolute; 
          top: 50%; 
          left: 0; 
          width: 100%;
          height: 2px;
          background-color: #E7E9EA;
          z-index: 1; 
      }

      .step-num ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        z-index: 2;
        

        li{
          width: 56px;
          height: 56px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20px;
          border: 1px solid #E7E9EA;
          color: #889097;
          position: relative; 
          background-color: white;
          z-index: 2; 

        }
      }
      

      .step {
        width: 380px; 
        max-width: 520px; 
        flex-shrink: 0; 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative; 
        
        // Для позиционирования оверлея

        p {
          font-size: 20px; // Размер текста
          font-weight: 500;
          margin-top: 10px;
        }

        img {
          width: 100%;
          border-radius: 20px;
          border: 1px solid #E7E9EA;
          padding: 40px;
          padding-bottom: 0;
          opacity: 0.5;
          }

       
        
      }

      .active {
        transform: scale(1.1); // Текущий шаг увеличивается
        transition: transform 0.5s ease; // Плавный переход при активации

        img{
          background-color: var(--back-grey); 
          opacity: 1;
        }
      }
    }

    .controls {
      margin-top: 20px;
      display: flex;
      gap: 10px; // Разделение кнопок
      justify-content: center;
      .next{
        background-color: #007bff;
        color: white;
      }
      .next:hover{
        background-color: #0056b3; // Темнее при наведении
      }
      .prev{
        background-color: var(--back-grey);
        color:  #1D1D1F;

      }
      .prev:hover{
        opacity: 0.8; // Темнее при наведении
      }
      button {
        padding: 10px 20px;
        border: none;
        border-radius: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:disabled {
          background-color: #cccccc; // Gray background for disabled state
          cursor: not-allowed; // Change cursor to indicate it's not clickable
          opacity: 0.6; // Lower opacity for disabled state
        } 
      }
    }
  }
}
