@import "../../styles/mixins.scss";

.onboarding {
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-block: 100px;
    max-width: 80%; // Limit container width
    margin-inline: auto; // Center container

    @include respond(phone){
      margin-block: 30px;
    }

    h2 {
      font-size: 64px; // Title
      margin-bottom: 20px;
      font-weight: 600;
      letter-spacing: -2px;
      margin: 0;

      @include respond(phone){
        font-size: 24px;
        letter-spacing: -1px;
      }
    }

    .steps-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: relative;
      max-width: 1000px; 
      margin: 0 auto; 
      margin-top: 60px; // Add top margin for spacing
      flex-direction: column;
      gap: 70px;

      @include respond(phone){
        margin-top: 50px;
        gap:60px;
      }

      .steps-track {
        display: flex;
        transition: transform 0.5s ease; // Smooth transition for slide change
        gap: 50px;
        margin-left: 133%; // Shift steps track

        // Adjust for responsiveness
        @include respond(phone) {
          gap: 30px; // Adjust gap for mobile
        }
      }

      .step-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
          font-size: 36px;
          font-weight: 500;

          @include respond(phone){
            font-size: 18px;
            margin-bottom: 10px;
          }
        }
        .step-description{
          font-size: 18px;
          font-weight: 400;

          @include respond(phone){
            font-size: 14px;
          }
        }
      }
      .expand-toggle{
        margin-top: 10px;
        display: none;
        color: #889097;
        font-size: 14px;
        font-weight: 400;         /* Устанавливает flex-контейнер */
        align-items: center;           /* Центрирует содержимое по вертикали */
        justify-content: center;
        cursor: pointer;
  
        @include respond(phone){
          display: flex;
        }
  
        span {
          margin-left: 0.5em;            /* Добавляет отступ слева к иконке */
          display: flex;
          align-items: center;
        }
      }
      .step-num {
        position: relative;
        margin-bottom: 40px;
        max-width: 200px;
        width: 100%;

        @include respond(phone){
          margin-bottom: 30px;
        }

        
        .line {
          position: absolute; 
          top: 50%; 
          left: 0; 
          width: 100%;
          height: 2px;
          background-color: #E7E9EA;
          z-index: 1;
          
          @include respond(tab-port){
            height: 1.5px;
          }
        }

        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          z-index: 2;

          li {
            width: 56px;
            height: 56px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            border: 1px solid #E7E9EA;
            color: #889097;
            position: relative; 
            background-color: white;
            z-index: 2;
            font-weight: 500;

            @include respond(tab-port){
              width: 22px;
              height: 22px;
              font-size: 14px;
              border-radius: 8px;
              
            }

            &.num-active {
              background: #007AFF;
              color: #fff;
            }
          }
        }
        
      }

      .step {
        width: 20vw; // Use vw for responsiveness
        justify-content: flex-end;
        flex-shrink: 0; 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: end;
        position: relative; 
        border: 1px solid #E7E9EA;
        border-radius: 20px;

        p {
          font-size: 20px; // Text size
          font-weight: 500;
          margin-top: 10px;
        }
        
        img {
          width: 70%;
          opacity: 0.5;

          &:nth-child(4) {
            height: 100%; // Full height for the last step
            width: 100%;
            padding: 0;
          }
        }

        &--active {
          transform: scale(1.2); // Scale active step
          transition: transform 0.5s ease; // Smooth scale transition
          background-color: var(--back-grey); 

          img {
            opacity: 1;
          }
        }
      }
    }

    .controls {
      margin-top: 20px;
      display: flex;
      gap: 10px; // Space between buttons
      justify-content: center;

      @include respond(phone){
        display: none;
      }

      .next {
        background-color: #007bff;
        color: white;

        &:hover {
          background-color: #0056b3; // Darker on hover
        }
      }

      .prev {
        background-color: var(--back-grey);
        color: #1D1D1F;

        &:hover {
          opacity: 0.8; // Darker on hover
        }
      }

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:disabled {
          background-color: #cccccc; // Gray background for disabled state
          cursor: not-allowed; // Change cursor for disabled state
          opacity: 0.6; // Lower opacity for disabled state
        } 
      }
    }
  }
}
