@import "../../styles/mixins.scss";
@import "../../styles/vars";

.language_menu {
    .lng_btns {
        color: black;
        background-color: $color-gray-300; // Assuming this variable is defined in your vars
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 4px;
        @media (max-width: 767px){
            color: #fff;
            background-color: #1E1E1E;
        }

        button {
            width: 30%;
            padding: 8px;
            text-align: center;
            background-color: transparent;
            border: none; // Remove border for a cleaner look
            border-radius: 12px;
            cursor: pointer; // Change cursor to indicate button interaction
            &.lang { // Change to use SCSS nesting for the class
                background-color: white; // Background color for selected language
            }

            &:hover {
                background-color: lighten($color-gray-300, 10%); // Lighten the background on hover
            }
            @include respond(phone){
                color:#fff;

                &.lang { // Change to use SCSS nesting for the class
                    background-color: #343434; // Background color for selected language
                }
    
                &:hover {
                    background-color: lighten(#1E1E1E, 10%); // Lighten the background on hover
                }
            }
            

        }
    }
}
