@import "../../styles/mixins.scss";

.feadback_section{
    background: #F5F5F7;
    padding-block: 30px;
}
.feadback{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 35px;

    @include respond(tab-port){
        flex-direction: column;
        section{
            padding: 0;
        }
    }

    &_info{
        
        h3{
            color: #1ED768;
            font-size: 18px;
            font-weight: 600;
            @include respond(phone){
                font-size: 14px;
                margin-bottom: 14px;
            }
        }
        h1{ 
            font-size: 64px;
            font-weight: 600;
            letter-spacing: -2px;
            @include respond(phone){
                font-size: 24px;
            }
        }

        .details{
            display: flex;
            flex-direction: column;
            gap:30px;
            margin-block: 60px;
            @include respond(phone){
                margin-block: 20px;
                gap:12px;
                .addres_text{
                    padding: 16px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h4{
                        font-size: 18px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            
            >div{
                height: 100px;
                display: inline-flex;
                gap:10px;

                @include respond(phone){
                    gap:20px;
                }
                span{
                    width: 44px;
                    height: 44px;
                    background: #ffffff;
                    border-radius: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    color: #007AFF;
                    @include respond(phone){
                        height: 100%;
                    }
                }
                
                h4{
                    font-size: 20px;
                    font-weight: 500;
                }
                p{
                    font-size: 18px;
                    font-weight: 400;
                    color:#889097;
                }

            }
        }
    }
    form{
        width: 460px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        background: #ffffff;
        border-radius: 30px;

        @include respond(phone){
            
            width: 100%;
        }
        .inputs{
            margin: 30px 0;
            display: flex;
            flex-direction: column;
            gap:10px;
        }
        input{
            width: 100%;
            padding: 20px;
            background: #F5F5F7;
            border: 0;
            border-radius: 10px;
            
        }
        input::placeholder{
            font-family: 'Golos' , sans-serif;
            color:#889097;
            font-size: 18px;
            font-weight: 400;
        }
        input:focus{
            border: 0;
            outline: none;
        }
        .input-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
          }        
          
          
          .optional {
            position: absolute;
            right: 20px;
            font-size: 16px;
            margin-left: auto;
            color:#889097;
          }


        img{
            width: 120px;
        }
        button{
            width: 100%;
            padding: 20px;
            background: #007AFF;
            border-radius: 10px;
            font-size: 18px;
            font-weight: 500;
            border: 0;
            color: #fff;
            cursor: pointer;
        }
        
    }
}