@import "../../styles/mixins.scss";

.terminal_type {
  
  margin-block: 100px;

  @include respond(phone){
    margin-block: 60px;
  }
  &_inner{
      position: relative;
      width: 100%;
      max-width: 1240px;
      margin: 0 auto;
    }
  
    &_container {
      display: flex;
      flex-direction: column;
      gap: 60px;
      align-items: center;
      @include respond(phone){
        gap:30px;
      }
      h2 {
        font-size: 64px;
        font-weight: 600;
        letter-spacing: -2px;

        @include respond(phone){
          font-size: 24px;
        }
      }
      p{
        margin-top: 30px;
      }
  
      @include respond(tab-port) {
        text-align: center;
      }
  
      .terminals {
        display: flex;
        gap: 20px;
        width: 100%;
        
  
        @include respond(tab-port) {
          flex-direction: column;
          
        }
        
  
        &_card {
          display: inline-flex;
          flex-direction: column;
          background: #f5f5f7;
          aspect-ratio: 1 / 1;
          overflow: hidden;
          width: calc((100% - 20px) / 2);
          border-radius: 30px;
          position: relative;
          gap: 30px;
          padding: 40px;
          cursor: pointer;


  
          @include respond(tab-port) {
            // aspect-ratio: 1 / 0.9;
            height: auto;
            width: 100%;
            padding: 30px;
            padding-top:0;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: space-between;
            gap:30px;
            
          }
          .card_text{
            display: flex;
            height: auto;
            position: relative;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            gap: 20px;

            @include respond(phone){
              justify-content: center;
            }
          }
          h2 {
            font-size: 36px;
            font-weight: 500;
            z-index: 5;
            @include respond(phone){
              font-size: 18px;
              letter-spacing: -1px;
            }
          }
  
          p {
            font-size: 18px;
            font-weight: 400;            
            transition: opacity 0.3s ease, height 0.3s ease;
            line-height: 1.5;
            @include respond(phone){
              font-size: 14px;
              margin-top: 15px;
            }
          }
          p.hid{
            // height: auto;
            opacity: 0;
            
          }
          p.vis {
            opacity: 1;
            height: auto;
          }
          .mobile-img{
            position: relative;
            width: 80%;
          }
          img {
            width: auto;
            height: auto;
            position: relative;
            bottom: 10%;
            will-change: transform;

            @include respond(phone){
              width: 80%;
              bottom: 0;
            }
          }
  
          .circle_plus {
            width: 40px;
            height: 40px;

            border-radius: 50%;
            cursor: pointer;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;

            @include respond(phone){
              display: none;
            }
  
            img{
                width: 22px;
            }
          }
  
          .back_circle {
            position: absolute;
            width: 1500px;
            aspect-ratio: 1 / 1;
            top: 158%;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            background: #e7e9ea;

            @include respond(phone){
              display: none;
            }
          }
        }
  
        &_card:nth-child(1) .back_circle {
          left: 105%;
        }

  
        &_card:nth-child(2) .back_circle {
          left: -5%;
        }
  
        &_card * {
          z-index: 5;
        }
  
        @include respond(tab-port) {
          &_card:nth-child(2) .back_circle {
            left: 110%;
            top: -50%;
          }
        }
      }
    }
  }
  