@import "../../styles/mixins.scss";

.terminal_type {
    position: relative;
    padding-block: 100px;
  
    &_container {
      display: flex;
      flex-direction: column;
      gap: 60px;
      align-items: center;
  
      h2 {
        font-size: 64px;
        font-weight: 600;
        letter-spacing: -2px;
      }
  
      @include respond(tab-port) {
        text-align: center;
      }
  
      .terminals {
        display: flex;
        gap: 20px;
        width: 100%;
  
        @include respond(tab-port) {
          flex-direction: column;
          width: 80%;
        }
  
        &_card {
          display: inline-flex;
          flex-direction: column;
          background: #f5f5f7;
          aspect-ratio: 1 / 1;
          overflow: hidden;
          width: calc((100% - 20px) / 2);
          border-radius: 30px;
          position: relative;
          gap: 30px;
          padding: 40px;
          cursor: pointer;
  
          @include respond(tab-port) {
            width: 100%;
          }
          .card_text{
            display: flex;
            height: auto;
            position: relative;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            gap: 20px;
          }
          h2 {
            font-size: 36px;
            font-weight: 500;
            z-index: 5;
          }
  
          p {
            font-size: 18px;
            font-weight: 400;            
            transition: opacity 0.3s ease, height 0.3s ease;
          }
          p.hidden{
            opacity: 0;
          }
          p.visible {
            opacity: 1;
            height: auto;
          }
  
          img {
            width: auto;
            height: auto;
            position: relative;
            bottom: 0;
            will-change: transform;
          }
  
          .circle_plus {
            width: 40px;
            height: 40px;

            border-radius: 50%;
            cursor: pointer;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
  
            img{
                width: 22px;
            }
          }
  
          .back_circle {
            position: absolute;
            width: 1500px;
            aspect-ratio: 1 / 1;
            top: 158%;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            background: #e7e9ea;
          }
        }
  
        &_card:nth-child(1) .back_circle {
          left: 105%;
        }

  
        &_card:nth-child(2) .back_circle {
          left: -5%;
        }
  
        &_card * {
          z-index: 5;
        }
  
        @include respond(tab-port) {
          &_card:nth-child(2) .back_circle {
            left: 110%;
            top: -50%;
          }
        }
      }
    }
  }
  